body {
    background-color:black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
div {
    display: block;
}
a {
    text-decoration: none;
    color: white;
}
input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
}
#grid {
    display: grid;
    grid-template-columns: minmax(1.5rem, 1fr) repeat(2, minmax(auto, 20rem)) minmax(1.5rem, 1fr);
    grid-template-rows: auto minmax(1.5rem, 1fr) auto;
    height: 100vh;
}
#grid, #spacer {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main {
    grid-column: 2/4;
    width: 100%;
}

#logoContainer {
    margin-top: 1em;
}
#logoContainer > h1 {
    font-size: 40px;
}
.preview {
    color: #aaa;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 150px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    z-index: 2;
}
#result {
    text-align: left;
}
#fileForm{
	background: rgb(56, 56, 56);
	position: relative;
	display: inline-block;
	vertical-align: middle; /*needed to get rid of extra space*/
	text-align: center;
	color: #fff;
	border: 1px solid #999;
	border-radius: 2px;
	height: 2em;
	width: 7em;
	line-height: 2em;
	margin-right: 1.2em;
	overflow: hidden;
}
#fileForm:hover{
	background: rgb(64, 64, 64);
	border: 1px solid #ddd;
}
#fileInput {
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
}

#fileInputLabel {
    vertical-align: top;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#fileRowContainer{
	width: 100%;
}


#spacer {
    grid-column: 2/4;
}
footer {
    text-align: center;
    display: inline-flex;
    border-top: 1px solid #fff;
    width: 100%;
    justify-content: space-around;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 2em;
    grid-column: 2/4;
    margin-bottom: 0.2em;
}