<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Anti-Spyware</title>
</head>

<body>
  <div></div>
  <div class="main">
    <h1 class="header"><a href="/">Spyware-Detector</a></h1>
    <div class="container">
      <div id="file-container" class="lft item col-1">
        <div class="preview">
          <h5>Browse to Paste a File~</h5>
          <!-- <h5>Browse, Drop, or Ctrl+V to Paste a File~</h5> -->
        </div>
        <div id="fileRowContainer">
          <form id="fileForm" enctype="multipart/form-data" method="post">

            <input id="file-input" type="file" name="file" title="Browse to select an file to scan" />
            <span id="fileInputLabel">Select File</span>

          </form>
        </div>

        <div id="error" style="text-align: center; width:120px;">

        </div>
      </div>
      <div id="result" class="mid item hide">
      </div>
      <div id="api-list" class="rit item hide">
      </div>
    </div>
    <div class="space">

    </div>
    <footer>
      <p>Copyright © 2022. All Rights Reserved</p>
  </footer>
  </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>